.app-buttons {
    align-self: flex-end;
    margin-left: 10px;
    padding: 1.5%;
    color: white;
    background: #5bc0de;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.app-buttons:hover {
    background: #2189a4;
}

.episodes-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 2%;
    font-weight: bold;
}

.episodes-name li {
    display: flex;
    justify-content: space-between;
}

.name-of-the-episode {
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
}

.name-of-the-episode:hover {
    overflow: visible;
    white-space: break-spaces;
}

.episodes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}